# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs
*.log
*.log.*

# Build
dist/
build/

# VSCode
.vscode/

# IDEs
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Angular
.angular/
